@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root,
main {
  height: 100%;
}

main {
  @apply flex flex-col flex-grow w-[min(800px,95vw)] mx-auto;
}

h1 {
  @apply my-4 text-3xl font-semibold text-center;
}

main > div {
  padding-bottom: 1rem;
  text-align: center;
}

ul {
  @apply flex-grow my-2 border border-gray-300 rounded-lg overflow-scroll;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

ul:empty {
  display: none;
}

li {
  @apply flex flex-wrap sm:flex-nowrap p-3 gap-x-2 border-b border-gray-300 justify-start;
}

li.sent {
  background-color: #fff1cd;
}

li span:nth-child(1) {
  @apply basis-[40%] sm:basis-0;
  font-weight: bold;
  white-space: nowrap;
}
li span:nth-child(2) {
  @apply order-last sm:-order-none;
  word-break: break-word;
}
li span:nth-child(3) {
  @apply basis-[40%] sm:basis-0;
  color: #6c757d;
  margin-left: auto;
  white-space: nowrap;
}

form {
  @apply flex flex-col sm:flex-row justify-center gap-2;
}

input[type="number"],
input:not([type]) {
  margin-left: 4px;
  padding: 6px 12px 6px 12px;
  color: rgb(33, 37, 41);
  border: solid 1px rgb(206, 212, 218);
  border-radius: 8px;
  font-size: 16px;
}

input[type="submit"],
button {
  margin-left: 4px;
  background: lightblue;
  color: white;
  padding: 6px 12px 6px 12px;
  border-radius: 8px;
  font-size: 16px;
  background-color: rgb(49, 108, 244);
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: rgb(41, 93, 207);
}

input[type="submit"]:disabled,
button:disabled {
  background-color: rgb(122, 160, 248);
}

a {
  @apply text-blue-500 hover:underline;
}
