/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

body,
html,
#root,
main {
  height: 100%;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", helvetica,
    sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: min(800px, 95vw);
  margin: 0 auto;
}

h1 {
  margin: 1rem 0;
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
}

main > div {
  padding-bottom: 1rem;
  text-align: center;
}

ul {
  flex-grow: 1;
  margin: 8px;
  border-radius: 8px;
  border: solid 1px lightgray;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: scroll;
}

ul:empty {
  display: none;
}

li {
  display: flex;
  justify-content: flex-start;
  padding: 8px 16px 8px 16px;
  border-bottom: solid 1px lightgray;
  font-size: 16px;
}

li.sent {
  background-color: #fff1cd;
}

li span:nth-child(1) {
  font-weight: bold;
  margin-right: 4px;
  white-space: nowrap;
}
li span:nth-child(2) {
  margin-right: 4px;
  word-break: break-word;
}
li span:nth-child(3) {
  color: #6c757d;
  margin-left: auto;
  white-space: nowrap;
}

form {
  display: flex;
  justify-content: center;
}

input[type="number"],
input:not([type]) {
  margin-left: 4px;
  padding: 6px 12px 6px 12px;
  color: rgb(33, 37, 41);
  border: solid 1px rgb(206, 212, 218);
  border-radius: 8px;
  font-size: 16px;
}

input[type="submit"],
button {
  margin-left: 4px;
  background: lightblue;
  color: white;
  padding: 6px 12px 6px 12px;
  border-radius: 8px;
  font-size: 16px;
  background-color: rgb(49, 108, 244);
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: rgb(41, 93, 207);
}

input[type="submit"]:disabled,
button:disabled {
  background-color: rgb(122, 160, 248);
}
